.header{
    background-color: darkkhaki;
    height:200px;
    
    text-align: center;
    text-decoration: none;
    text-decoration-style: none;
}
.prezentc>a{
    float: left;
     width: 20%;
   text-decoration-style: none;
   text-decoration: none;
}