.table {
    display: table; 
    width: 100%; 
    border-spacing: 10px 10px; 
  } 
  
  .cell1{
    display: table-cell; 
    padding: 10px;
    background-color: blueviolet; 
  }
  .cell2{
    display: table-cell; 
    padding: 10px;
    background-color:hotpink;
    width: 300px;
    min-height: 200px; 
  }
