.table {
    display: table; 
    width: 100%; 
    border-spacing: 10px 10px; 
  } 
  
  .cell1{
    display: table-cell; 
    padding: 10px;
    background-image: url(https://i1.photo.2gis.com/images/branch/32/4503599631775131_2bac.jpg);
  }
  .cell2{
    display: table-cell; 
    padding: 10px;
    background-color:hotpink;
    width: 300px;
    min-height: 200px; 
  }

